body{
  background: linear-gradient(to left, #2193b0, #6dd5ed);
  font-family: sans-serif;
}

h1{
  font-size:7rem;
  color:#fff;
}

label{
  color: #FFF ;
  
}
.form-inner .form-group:focus-within label{
  color: #FE4880;
}

button{
  background: linear-gradient(to bottom, #6b6b83, #3b8d99);
}

button:hover{
  background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
}

.error{
 color: #ac2a87;
}