body{
  background: linear-gradient(to left, #ff416c, #ff4b2b);
  font-family: sans-serif;
  display: grid;
 
  
}

h1{
  font-size:7rem;
  color:#203A43;
  text-align: center;
}

label{
  color: #203A43 ;
  font-size: 30px;
}
.form-inner .form-group:focus-within label{
  color: #FE4880;
}

button{
  background: linear-gradient(to bottom, #6b6b83, #3b8d99);
}

button:hover{
  background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
}

.error{
 color: #ffff;
 font-size: 25px;
}

.formulario {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5px;
}  

.nombre{
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

