body{
  background: linear-gradient(to left, #ff416c, #ff4b2b);
  font-family: sans-serif;
}

h1{
  font-size:7rem;
  color:#203A43;
}

label{
  color: #203A43 ;
  font-size: 30px;
}
.form-inner .form-group:focus-within label{
  color: #FE4880;
}

button{
  background: linear-gradient(to bottom, #6b6b83, #3b8d99);
}

button:hover{
  background: linear-gradient(to top, #aa4b6b, #6b6b83, #3b8d99);
}

.error{
 color: #ac2a87;
 font-size: 25px;
}

.nombre{
  size: 8px;
}